name: Test Conditional

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo event
        run: echo "Event name is ${{ github.event_name }}"

      - name: Push only
        if: ${{ github.event_name == 'push' }}
        run: echo "This is a push event"
